.sidebar {
  display: flex;
  flex: 0.35;
  height: 100vh;
  background-color: #33363d;
}

.sidebar__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 15px;
  background-color: #1a1c20;

  .serverIcon {
    position: relative;
    width: 55px;
    height: 55px;
    margin-top: 7px;
    margin-bottom: 10px;
    background-color: #33363d;
    border-radius: 9999px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
    }
  }
}

.sidebar__right {
  position: relative;
  width: 300px;
  background-color: #2b2d33;

  .sidebar__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .sidebar__channels {
    padding: 13px;
  }

  .sidebar__channelsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
  }

  .sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
  }

  .sidebar__addChannel {
    cursor: pointer;
  }

  .sidebar__footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    margin-left: -3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #686a6e;
  }

  .sidebar__account {
    display: flex;
    align-items: center;
    img {
      width: 50px;
    }
  }

  .sidebar__accountName {
    margin-left: 5px;

    h4 {
      font-weight: 500;
    }

    span {
      color: #686a6e;
    }
  }

  .sidebar__voice {
    display: flex;
    align-items: center;
    color: #686a6e;
  }
}
